html {
  text-align: center;
  color: #232321; }

.col-centered {
  float: none;
  margin: 0 auto;
  padding: 25px;
  font-size: 12px; }

.w3-table td:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.18); }

tr:nth-child(2n) {
  background-color: #f4f4f4;
  border-top: 1px solid #1f303e; }

h1 {
  color: #22212f; }

table {
  table-layout: fixed;
  font-size: 14px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18); }

.terms {
  background-color: #a4b0b6;
  color: #2a293b; }

td, th {
  border: none;
  text-align: center; }

.horizontal {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 auto;
  max-width: 90vw; }

.horizontal > * {
  margin: 0 10px;
  flex: 1 100%; }

.vertical {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 75%; }

.vertical > * {
  margin-bottom: 10px; }

img {
  max-width: 50%; }

h1 {
  margin: 0 auto;
  text-align: center; }

.info {
  text-align: center;
  font-size: 12px; }

.text {
  margin-top: 500px; }

.head {
  box-shadow: none;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-top: -10px;
  margin-bottom: 5px; }

.phead {
  background-color: #dfd7d5;
  color: #2a293b;
  font-weight: 600; }

.address {
  width: 80px;
  font-weight: 600; }

.city {
  width: 100px;
  font-weight: 600; }

.state {
  width: 50px;
  font-weight: 600; }

.zip {
  width: 40px;
  font-weight: 600; }

.header {
  background-color: #308c82;
  color: #f5e6c5;
  font-weight: 600; }

.processor {
  background-color: #dfd7d5;
  color: #2a293b; }

.terms {
  color: #2a293b; }

.header-star {
  background-color: #317d3a;
  color: #dfd7d5;
  font-weight: 800; }

.processor-star {
  background-color: #dfd7d5;
  color: #2a293b; }

.client-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  font-weight: 600;
  font-size: 17px;
  margin: 0 auto; }

input {
  width: 100%;
  background: yellow; }

.submit {
  width: 40%;
  margin-left: 40px;
  margin-right: 40px; }

.special {
  background-color: #716d6b;
  color: #dfd7d5; }

.descriptor {
  margin: 0 auto;
  min-width: 88%; }

.pbody td {
  padding-top: 5px; }

.pbody tr:nth-child(2n) {
  background-color: #f4f4f4;
  border: none; }

.notes {
  max-width: 80%;
  margin: 0 auto; }

.widen {
  width: 100%; }
