html {
  text-align: center; }

.col-centered {
  float: none;
  margin: 0 auto;
  padding: 25px;
  font-size: 16px; }

.w3-table td:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.18); }

tr:nth-child(2n) {
  background-color: #f4f4f4;
  border-top: 1px solid #1f303e; }

h1 {
  color: #22212f; }

table {
  table-layout: fixed;
  font-size: 14px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18); }

.terms {
  background-color: #b3efb2;
  color: #716d6b; }

td, th {
  border: none; }

.horizontal {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 auto;
  max-width: 90vw; }

.horizontal > * {
  margin: 10px;
  flex: 1 100%; }

.vertical {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 75%; }

.vertical > * {
  margin-bottom: 10px; }

img {
  max-width: 300px;
  max-height: auto;
  left: 12vw; }

h1 {
  margin: 0 auto;
  text-align: center; }

.info {
  text-align: center;
  font-size: 12px; }

.text {
  margin-top: 500px; }

.head {
  box-shadow: none; }

.phead {
  background-color: #dfd7d5;
  color: #2a293b; }

.city {
  width: 200px; }

.state {
  width: 150px; }

.header {
  background-color: #1ba12a;
  color: #f5e6c5;
  font-weight: 600; }

.processor {
  background-color: #b3efb2;
  color: #716d6b; }

.header-star {
  background-color: #951c1c;
  color: #92d399;
  font-weight: 800; }

.processor-star {
  background-color: #dfd7d5;
  color: #2a293b; }

.client-name {
  font-weight: 600;
  font-size: 22px;
  line-height: 40px; }
