@media print {
  html, body {
    margin: 0 !important;
    padding: 0 !important; }
  .page {
    page-break-inside: avoid; } }

.page {
  display: inline-block;
  page-break-inside: avoid; }

.check {
  width: 1032px;
  background-color: #D3D3D3;
  padding-top: 1.1cm;
  margin: 0;
  padding-left: 80px;
  padding-right: 80px;
  height: 462px;
  border-bottom: 1px solid black; }

.check:first-child {
  border-top: 1px solid black; }

.check:last-child {
  margin-bottom: -50px; }

.bolded {
  font-weight: bolder; }

.underline {
  padding-bottom: 6px;
  border-bottom: 2px solid black; }

.line {
  margin: 0;
  padding: 0;
  height: 21px;
  text-transform: uppercase;
  line-height: 22px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif; }

.top {
  margin: 0;
  margin-top: 35px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 25%; }
  .top .address {
    width: 50%; }
  .top .bankName {
    width: 30%; }
    .top .bankName .line {
      padding-left: 30px; }
  .top .idNum {
    width: 20%; }
    .top .idNum * {
      text-align: right; }
    .top .idNum .line:first-child {
      margin-top: 6px; }
    .top .idNum .underline {
      margin-top: -17px; }

.middle {
  margin-top: 7px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10%; }
  .middle .orderOf {
    margin: 0;
    width: 10%;
    height: 41px;
    font-size: 20px;
    line-height: 18px; }
  .middle .toLine {
    font-size: 24px;
    margin-top: -8px;
    width: 70%;
    height: 34px;
    padding-left: 5%;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    line-height: 48px;
    font-weight: bolder; }
  .middle .numberAmount {
    margin-top: -8px;
    margin-left: 7px;
    width: 12%;
    height: 32px;
    padding-right: 5px;
    line-height: 34px;
    border: 2px solid black;
    text-align: center;
    font-weight: bolder;
    font-size: 22px; }

.payline {
  margin: 0;
  width: 100%;
  height: 10%;
  margin-top: 15px;
  display: flex;
  flex-direction: row; }
  .payline .line {
    height: 18px;
    width: 87%;
    border-bottom: 2px solid black;
    font-weight: bolder;
    padding-left: 3px;
    text-transform: none;
    line-height: 12px; }
    .payline .line .amount {
      padding-left: 15px; }
  .payline .endline {
    height: 18px;
    width: 8%;
    border-bottom: 2px solid black;
    font-weight: bolder;
    text-transform: none;
    line-height: 12px;
    text-align: right;
    margin: 0;
    font-size: 22px; }

.sigline {
  margin-top: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 12%; }
  .sigline .half {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 20px; }
  .sigline .memoLine {
    margin-top: 3%;
    text-align: left; }
  .sigline .memoTitle {
    float: left; }
  .sigline .memo {
    width: 285px;
    display: block;
    margin-left: 15%;
    border-bottom: 2px solid black;
    font-weight: 600; }
  .sigline .sig {
    margin-top: -12px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px; }

.micrline {
  margin-top: 45px;
  font-family: 'MICRCheckPrixa';
  font-size: 28px; }
  .micrline .id {
    margin-left: 15%; }
  .micrline .route {
    margin-left: 1%; }
  .micrline .account {
    margin-left: 1%; }

.checkBackside {
  padding-top: 0.9cm;
  position: relative;
  top: 0;
  left: 0;
  width: 1032px;
  height: 462px; }
  .checkBackside .rotationFixer1 {
    margin-left: 970px;
    display: table; }
  .checkBackside .rotationFixer2 {
    padding: 50% 0;
    height: 0; }
  .checkBackside .endorsement {
    display: block;
    transform-origin: top left;
    transform: rotate(90deg) translate(0, -80%);
    margin-top: -50%;
    white-space: nowrap;
    font-size: 16px;
    padding-top: 3px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .checkBackside .endorsement .firstLine {
      text-transform: uppercase; }
    .checkBackside .endorsement .signLine {
      border-bottom: 1px solid darkgray;
      height: 20px; }
      .checkBackside .endorsement .signLine .sig {
        margin-left: 15px;
        font-size: 18px; }
    .checkBackside .endorsement .warning {
      margin-top: 30px;
      text-align: center;
      padding: 5px 4px;
      width: 430px;
      border-bottom: 1px solid black; }
