.col-xs-12 {
  padding-right: 0;
  padding-left: 0; }

.col-xs-9 {
  padding-right: 0;
  padding-left: 0; }

.col-xs-7 {
  padding-right: 0;
  padding-left: 0; }

.col-xs-6 {
  padding-right: 0;
  padding-left: 0; }

.col-xs-5 {
  padding-right: 0;
  padding-left: 0; }

.col-xs-3 {
  padding-right: 0;
  padding-left: 0; }

.col-sm-8 {
  padding-right: 0;
  padding-left: 0; }

.col-sm-6 {
  padding-right: 0;
  padding-left: 0; }

.col-sm-4 {
  padding-right: 0;
  padding-left: 0; }

.col-sm-2 {
  padding-right: 0;
  padding-left: 0; }

.row {
  margin-top: 8px; }

.rowPrime {
  padding: 2px;
  background-color: #dfd7d5; }

.bigHighlight {
  font-weight: bold;
  padding: 0;
  margin: 0 auto;
  text-align: center; }

.highlight {
  font-weight: 600; }

.detail {
  display: block;
  font-size: 14px;
  font-weight: 400;
  max-width: 50%;
  margin: 0 auto; }

.percent {
  font-size: 16px; }

.totals {
  display: block;
  max-width: 50%;
  margin: 0 auto; }

.big {
  font-size: 18px; }

.small {
  font-size: 13px; }

.danger {
  color: #cd5b5b; }

.iconUp {
  display: inline-flex;
  padding: 6px;
  border-radius: 50%;
  background-color: #92d399;
  color: #f4f4f4;
  margin: 0 auto;
  font-size: 14px; }

.iconDown {
  display: inline-flex;
  padding: 6px;
  border-radius: 50%;
  background-color: #e25353;
  color: #f4f4f4;
  margin: 0 auto;
  font-size: 14px; }

.infoboard {
  text-align: center;
  width: 60vw;
  margin: 0 auto; }

.box {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
  padding: 6px; }

.today {
  font-size: 30px;
  text-align: center; }

.weekly {
  font-size: 16px; }

.monthly {
  font-size: 16px; }

.refund {
  font-weight: 400;
  font-size: 16px; }

.conversion {
  max-width: 80%; }

.cb {
  font-weight: 400;
  font-size: 16px; }

svg {
  color: white; }
