#bootstrap-overrides .brand {
    padding: 0;
}

#bootstrap-overrides .logo {
    width: 260px;
    height: 13vh;
}

#bootstrap-overrides #logout-form {
    display: none;
}

#bootstrap-overrides .btn-group {
    margin-left: 15px;
    min-width: 100%;
}

#bootstrap-overrides .dropdown-toggle {
    float: right;
    margin-right: 45px;
}

#bootstrap-overrides .sidebar .nav .nav>li>a {
    padding-left: 35px;
}

#bootstrap-overrides .dropdown-menu {
    margin-left: 20px;
}

#bootstrap-overrides .arrow {
    padding-right: 22px;
}

#bootstrap-overrides .btn:hover {
    color: #AEB7A9;
}

#bootstrap-overrides .btn:focus {
    color: #AEB7A9;
}