hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); }

.nav_menu {
  display: none; }

h3 {
  font-size: 14px;
  font-weight: 700; }

.row {
  margin-top: 1px;
  display: inline-block;
  text-align: right;
  max-height: 40px; }

label {
  font-weight: 400; }

input[type="text"] {
  font-size: 12px; }

.container {
  margin-left: auto;
  margin-right: auto; }

.input {
  width: 160px; }

form {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: -40px; }

#group_1_1 {
  -webkit-order: 3;
  order: 3;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline; }
  #group_1_1 .row:nth-child(4) {
    margin-left: -15%;
    width: 23%; }
    #group_1_1 .row:nth-child(4) label {
      width: 20%; }
    #group_1_1 .row:nth-child(4) input {
      width: 150%; }
  #group_1_1 .row:nth-child(5) {
    width: 24%; }
    #group_1_1 .row:nth-child(5) label {
      width: 25%; }
    #group_1_1 .row:nth-child(5) input {
      width: 150%; }
  #group_1_1 .row:nth-child(6) {
    width: 18%;
    padding: 0; }
  #group_1_1 .row:nth-child(7) {
    width: 28%; }
  #group_1_1 .row:nth-child(8) {
    margin-left: -10%;
    width: 43%; }
    #group_1_1 .row:nth-child(8) label {
      width: 40%; }
    #group_1_1 .row:nth-child(8) input {
      width: 120%; }
  #group_1_1 .row:nth-child(9) {
    width: 33%; }
  #group_1_1 .row:nth-child(10) {
    width: 33%; }
  #group_1_1 .row:nth-child(11) {
    width: 25%; }
  #group_1_1 .row:nth-child(12) {
    width: 25%; }
  #group_1_1 .row:nth-child(13) {
    width: 25%; }
  #group_1_1 .row:nth-child(14) {
    width: 25%; }
  #group_1_1 .row:nth-child(15) {
    display: none; }

#group_1_2 {
  -webkit-order: 1;
  order: 1;
  width: 50%;
  display: flex;
  flex-wrap: wrap; }
  #group_1_2 .row:nth-child(3) {
    width: 50%; }
  #group_1_2 .row:nth-child(4) {
    width: 50%; }
  #group_1_2 .row:nth-child(5) {
    margin-left: -10%;
    width: 33%; }
    #group_1_2 .row:nth-child(5) input {
      width: 140%; }
  #group_1_2 .row:nth-child(6) {
    width: 33%; }
  #group_1_2 .row:nth-child(7) {
    width: 40%; }

#group_1_3 {
  -webkit-order: 2;
  order: 2;
  width: 45%;
  display: flex;
  flex-wrap: wrap; }
  #group_1_3 .row:nth-child(3) {
    width: 50%; }
  #group_1_3 .row:nth-child(4) {
    width: 50%; }
  #group_1_3 .row:nth-child(5) {
    margin-left: -10%;
    width: 33%; }
    #group_1_3 .row:nth-child(5) input {
      width: 140%; }
  #group_1_3 .row:nth-child(6) {
    width: 33%; }
  #group_1_3 .row:nth-child(7) {
    width: 40%; }

#group_1_4 {
  -webkit-order: 4;
  order: 4;
  display: flex;
  flex-wrap: wrap; }
  #group_1_4 .row:nth-child(2) {
    width: 33%; }
  #group_1_4 .row:nth-child(3) {
    width: 33%; }
    #group_1_4 .row:nth-child(3) input {
      width: 120%; }
  #group_1_4 .row:nth-child(4) {
    width: 33%; }
  #group_1_4 .row:nth-child(5) {
    width: 33%; }
    #group_1_4 .row:nth-child(5) input {
      width: 120%; }

#group_1_5 {
  -webkit-order: 7;
  order: 7;
  display: flex;
  flex-wrap: wrap; }
  #group_1_5 .row:nth-child(2) {
    width: 40%; }
  #group_1_5 .row:nth-child(3) {
    width: 40%; }
  #group_1_5 .row:nth-child(4) {
    width: 33%; }
  #group_1_5 .row:nth-child(5) {
    width: 33%; }
  #group_1_5 .row:nth-child(6) {
    width: 33%; }
  #group_1_5 .row:nth-child(7) {
    width: 33%; }
  #group_1_5 .row:nth-child(8) {
    width: 33%; }
  #group_1_5 .row:nth-child(9) {
    width: 33%; }
  #group_1_5 .row:nth-child(10) {
    width: 33%; }
  #group_1_5 .row:nth-child(11) {
    width: 33%; }
  #group_1_5 .row:nth-child(12) {
    width: 35%; }
    #group_1_5 .row:nth-child(12) input {
      width: 110%; }

#group_1_6 {
  -webkit-order: 5;
  order: 5;
  display: flex;
  flex-wrap: wrap; }
  #group_1_6 .row:nth-child(2) {
    width: 25%; }
  #group_1_6 .row:nth-child(3) {
    width: 25%; }
  #group_1_6 .row:nth-child(4) {
    width: 26%; }
  #group_1_6 .row:nth-child(5) {
    margin-left: -20px;
    width: 36%; }
  #group_1_6 .row:nth-child(6) {
    width: 30%; }
  #group_1_6 .row:nth-child(7) {
    width: 35%; }
  #group_1_6 .row:nth-child(8) {
    margin-left: -20px;
    width: 31%; }
  #group_1_6 .row:nth-child(9) {
    width: 25%; }
  #group_1_6 .row:nth-child(10) {
    width: 25%; }
  #group_1_6 .row:nth-child(11) {
    width: 19%; }
  #group_1_6 .row:nth-child(12) {
    margin-right: 0;
    margin-left: -15px;
    width: 20%; }
  #group_1_6 .row:nth-child(13) {
    margin-left: 0;
    margin-right: 0;
    width: 20%; }
  #group_1_6 .row:nth-child(14) {
    width: 30%; }
    #group_1_6 .row:nth-child(14) label {
      width: 20%; }
    #group_1_6 .row:nth-child(14) input {
      width: 120%; }
  #group_1_6 .row:nth-child(15) {
    width: 28%; }
    #group_1_6 .row:nth-child(15) label {
      width: 20%; }
    #group_1_6 .row:nth-child(15) input {
      width: 140%; }

#group_1_7 {
  -webkit-order: 6;
  order: 6;
  display: flex;
  flex-wrap: wrap; }
  #group_1_7 .row:nth-child(2) {
    width: 25%; }
  #group_1_7 .row:nth-child(3) {
    width: 25%; }
  #group_1_7 .row:nth-child(4) {
    width: 26%; }
  #group_1_7 .row:nth-child(5) {
    margin-left: -20px;
    width: 36%; }
  #group_1_7 .row:nth-child(6) {
    width: 30%; }
  #group_1_7 .row:nth-child(7) {
    width: 35%; }
  #group_1_7 .row:nth-child(8) {
    margin-left: -20px;
    width: 31%; }
  #group_1_7 .row:nth-child(9) {
    width: 25%; }
  #group_1_7 .row:nth-child(10) {
    width: 25%; }
  #group_1_7 .row:nth-child(11) {
    width: 19%; }
  #group_1_7 .row:nth-child(12) {
    margin-right: 0;
    margin-left: -15px;
    width: 20%; }
  #group_1_7 .row:nth-child(13) {
    margin-left: 0;
    margin-right: 0;
    width: 20%; }
  #group_1_7 .row:nth-child(14) {
    width: 30%; }
    #group_1_7 .row:nth-child(14) label {
      width: 20%; }
    #group_1_7 .row:nth-child(14) input {
      width: 120%; }
  #group_1_7 .row:nth-child(15) {
    width: 28%; }
    #group_1_7 .row:nth-child(15) label {
      width: 20%; }
    #group_1_7 .row:nth-child(15) input {
      width: 140%; }

.col-xs-12 {
  width: 50%; }

input[type='submit'] {
  display: none; }
