/********************
 * Help
 ********************/
#wrapper #sidebar-nav {
  padding-top: 60px; }

.default {
  display: none; }

.helper {
  position: fixed;
  bottom: 30px;
  right: 15px;
  z-index: 3; }

.help-text-layout {
  color: #0081C2;
  margin: 0; }

.help-text {
  color: #0081C2;
  margin-left: 10px; }

.help-table {
  color: #0081C2;
  position: fixed;
  z-index: 2;
  font-size: 40px;
  margin-left: 25vw;
  margin-top: 15vh;
  -ms-transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  transform: rotate(12deg); }

.help {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: none;
  text-decoration: none;
  background: #5BC0DE;
  margin: 0;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-family: sans-serif; }

.btn-group {
  margin-left: 45px;
  color: #AEB7A9; }

.menu {
  background-color: #252C35;
  border: none; }

.btn {
  box-shadow: none; }

.title:hover {
  color: #AEB7A9; }

.caret {
  color: #AEB7A9; }

.help-main {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #5BC0DE;
  color: #fff;
  font-family: sans-serif;
  font-size: 3Srem;
  cursor: pointer;
  text-align: center;
  border-radius: 25px; }

.helper-layout {
  position: absolute;
  right: 3px;
  bottom: 3px; }

/********************
 * Modal
 ********************/
.modal-help {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 15%; }

.modal-stuff {
  background-color: black;
  margin: 13% 13%;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  text-align: center;
  overflow: hidden; }

.modal-stuff img {
  max-width: 80%;
  object-fit: contain; }

#close {
  position: relative;
  z-index: 2;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 10px; }

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

/********************
 * Carousel
********************/
section.awSlider .carousel {
  display: table;
  z-index: 2;
  -moz-box-shadow: 0 0 4px #444;
  -webkit-box-shadow: 0 0 4px #444;
  box-shadow: 0 15px rgba(1, 1, 1, 0.5); }

.carousel-indicators {
  background-image: radial-gradient(rgba(1, 1, 1, 0.35), rgba(1, 1, 1, 0)); }

.carousel-caption {
  color: #f79e6f;
  background-image: radial-gradient(rgba(111, 195, 247, 0.2), rgba(1, 1, 1, 0)); }

section.awSlider {
  margin: 30px auto;
  padding: 30px;
  position: relative;
  display: table;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

section.awSlider:hover > img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1; }

section.awSlider img {
  pointer-events: none; }

section.awSlider > img {
  position: absolute;
  top: 8vh;
  right: 5vw;
  z-index: 1;
  filter: blur(1.8vw);
  transition: all 0s;
  -webkit-filter: blur(2vw);
  -moz-filter: blur(2vw);
  -o-filter: blur(2vw);
  -ms-filter: blur(2vw);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .5; }
