* {
  font-family: 'Raleway', sans-serif; }

html, body {
  min-height: 100%; }

body {
  position: relative;
  background-color: #22212f;
  max-width: 100%;
  overflow-x: hidden;
  text-align: center;
  color: #22212f; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  z-index: -1;
  background: url("../img/backgrounds/tile.png") repeat center top;
  opacity: 0.2;
  background-size: auto, cover; }

.acount {
  width: 30%;
  position: fixed;
  right: 2rem;
  z-index: 3;
  top: 3%; }

.signup {
  color: #e8f1f2;
  background-color: #7a9e7e; }

.login {
  color: #e8f1f2;
  background-color: #7a9e7e; }

.element {
  margin-top: 3rem;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  text-align: center; }

.head {
  margin-top: 0;
  height: 65vh;
  width: auto;
  background-image: url("../img/backgrounds/header.png");
  background-size: 100% 100%;
  padding: 3rem;
  margin-bottom: -22vh; }

.image {
  position: relative;
  z-index: 2;
  background-size: cover;
  transform: rotate(3deg); }

.image:nth-child(2n) {
  transform: rotate(-3deg); }

img {
  width: 100%;
  height: auto; }

.logo {
  width: 15%;
  height: auto; }

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }

.hero {
  text-align: center;
  padding: 3rem 2rem;
  background-size: cover; }

.header {
  font-size: 60px; }

.description {
  color: #efa300;
  margin-bottom: 0;
  font-size: 25px;
  margin-top: 8rem; }

.description2 {
  color: #b3efb2;
  margin-bottom: 0;
  font-size: 25px;
  margin-top: 8rem; }

.processors {
  color: #7a9e7e;
  padding: 1rem 2rem;
  margin-bottom: 7rem; }

.list {
  padding: 1rem 2rem;
  font-size: 16px; }

a {
  text-decoration: none;
  color: #7AD2DD;
  display: inline-block;
  padding: 0 40px;
  position: relative;
  text-transform: uppercase; }

a:hover {
  text-decoration: none;
  color: #7AD2DD; }

.button {
  min-height: 100%;
  background-image: url("../img/buttons/main2.png");
  background-repeat: no-repeat;
  background-position: 50% 68%;
  transition: background-position 0.25s; }

.secondary {
  min-width: 100%;
  height: 15vh;
  background-image: url("../img/buttons/main1.png");
  background-repeat: no-repeat;
  background-position: 47% 50%;
  transition: background-position 0.25s; }

.link {
  padding: 1rem;
  height: 20vh;
  width: 100vw;
  background-image: url("../img/backgrounds/nav.png");
  background-repeat: repeat-x;
  background-position: center;
  margin: 2px; }

.nav {
  display: block;
  padding: 0;
  position: absolute;
  top: 40%;
  left: 25%;
  height: 30%;
  width: 50%; }

.button:hover {
  background-position: center; }
  .button:hover .secondary {
    background-position: center;
    transition-delay: 0.15s; }

.terms {
  background-image: url("../img/backgrounds/table.png");
  background-size: 120% 100%;
  background-position: center;
  padding: 1rem 2rem; }

.term_table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 20px 1rem;
  border-collapse: separate; }

label {
  padding: 2px 0;
  text-align: left;
  height: 60px;
  line-height: 60px; }

textarea {
  height: 170px; }

.field {
  padding-left: 0.5em;
  border-radius: 0.5em; }

.contact {
  color: #7a9e7e; }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=submit] {
  background-color: #7a9e7e;
  color: #e8f1f2;
  padding: 12px 20px;
  border: none;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #45a049; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.column {
  float: left;
  width: 50%;
  margin: 0 auto;
  margin-top: 6px;
  padding: 20px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    padding: 0;
    margin: 0; }
  .row {
    margin: 0; }
  .login {
    position: static;
    right: 20px; }
  .header {
    font-size: 40px;
    font-weight: 800; }
  .description {
    margin-top: 2rem; }
  .description2 {
    margin-top: 0; }
  .hero {
    padding: 0; }
  .subtitle {
    font-size: 30px; }
  .button {
    background-image: none; }
  .secondary {
    background-image: none; }
  .link {
    line-height: 20vh;
    height: 25vh; }
  .logo {
    width: 100%;
    height: auto; }
  .image {
    display: none; }
  .nav {
    top: 0;
    left: 0;
    position: static; }
  .nav-field {
    width: auto; }
  .terms {
    background-image: none;
    background-color: #efa300; }
  .term_table {
    border-collapse: collapse;
    background-image: none; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header {
    font-size: 40px;
    font-weight: 800; }
  .subtitle {
    font-size: 30px; }
  .button {
    background-image: none; }
  .secondary {
    background-image: none; }
  .link {
    line-height: 20vh;
    height: 25vh; }
  .nav {
    top: 0;
    left: 0;
    position: static; }
  .nav-field {
    width: auto; }
  .terms {
    background-image: none;
    background-color: #efa300; }
  .term_table {
    border-collapse: collapse;
    background-image: none; } }
