@page {
  size: A4;
  margin-top: 1cm; }

html {
  font-family: 'Cambria','cambria bold'; }

body {
  padding: 13px; }

.w3-container {
  margin-top: 5px; }

.head {
  background-color: #D1D3D4; }

.head_img {
  height: 150px;
  background-color: #D1D3D4;
  width: 33%;
  padding: 0;
  margin: 0; }

.head_text {
  width: 33%;
  margin: 0 auto;
  text-align: center; }

.heroId {
  margin: 0 auto;
  width: 33%;
  font-size: 12px;
  line-height: 14px;
  padding-top: 1rem; }

img {
  width: 285px;
  height: 150px;
  padding: 0;
  margin: 0; }

.name {
  font-size: 23px;
  font-weight: 600;
  line-height: 23px;
  margin-top: 10px;
  padding: 0; }

.subname {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0; }

.flex-parent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0;
  margin: 0;
  justify-content: center; }

.lead_section {
  text-align: center;
  color: white;
  background-color: #8bc63e;
  font-size: 12px;
  margin-bottom: 10px; }

table {
  width: 100%;
  border: none;
  width: 100%;
  font-size: 12px;
  border-spacing: 10px;
  text-align: center; }

tr {
  border-bottom: solid 1px black; }

.cards {
  table-layout: fixed;
  width: 100%; }

table {
  page-break-after: auto; }

tr {
  page-break-inside: avoid;
  page-break-after: auto; }

td {
  page-break-inside: avoid;
  page-break-after: auto; }

thead {
  display: table-header-group; }

tfoot {
  display: table-footer-group; }
