@page {
  margin: 0px; }

body {
  margin: 0px; }

table {
  table-layout: fixed; }

td {
  width: 33%;
  font-family: 'Cambria';
  font-size: 12px; }

.hero {
  background-color: #D1D3D4; }
  .hero .heroImg {
    height: 150px;
    background-color: #D1D3D4;
    width: 33%;
    padding: 0;
    margin: 0; }
    .hero .heroImg img {
      width: 285px;
      height: 150px;
      padding: 0;
      margin: 0; }
  .hero .heroTitle {
    width: 33%;
    margin: 0 auto;
    text-align: center; }
    .hero .heroTitle .title {
      font-family: 'Cambria', 'cambria bold';
      font-size: 24px; }
  .hero .heroId {
    margin: 0 auto;
    width: 33%;
    font-size: 14px;
    line-height: 14px;
    padding-top: 1rem; }

.flex-parent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0;
  margin: 0;
  justify-content: center; }

.name {
  font-size: 23px;
  font-weight: 600;
  line-height: 23px;
  margin-top: 10px;
  padding: 0; }

.subname {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  padding: 0; }

.dateRange {
  background-color: #8DC63F;
  padding-top: 3px;
  padding-bottom: 3px; }
  .dateRange .rangeContainer {
    color: white;
    font-family: 'Cambria', 'cambria bold'; }
    .dateRange .rangeContainer .date {
      font-size: 18px; }

.subHeadline {
  font-size: 12px;
  font-weight: 600; }

.total {
  line-height: 12px;
  margin: 0; }

.lead_section {
  text-align: center;
  color: white;
  background-color: #8bc63e;
  font-size: 16px; }
