html{
    text-align: center;
}
.thStyle{
    color: white !important;
    padding-left:10px !important;
    padding-right: 10px !important;
    background-color: gray !important
}
.x_title h2{
    margin: 0 auto;
    text-decoration: underline;
    margin-bottom: 17px;
}
.sheet{
    margin-top: 10px;
}
.top{
    width: 1200px;
    padding: 10px;
}
.sig{
    width:500px;
}

.col-centered{
    float: none;
    margin: 0 auto;
    padding: 25px;
    font-size: 16px; 
}

table {
    table-layout: fixed;
    max-width: 100%;
    font-size: 14px;
}

.uniform {
    height: 1cm;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.horizontal > * {
    margin: 10px;
    flex: 1 100%;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.vertical > * {
    margin-bottom: 10px;
}

th {
    background: grey;
}

p {
    text-align: center;
}

.box {
    margin: 10px 20px;
    border: 5px solid black;
    padding: 75px;
}

hr.long {
    border: 2px solid black;
    margin: 5em 50px 0em 50px;
}

hr.short {
    border: 2px solid black;
    margin-top: 40px;
}

.left {
    text-align: left;
    margin-left: 50px;
}

.right {
    text-align: right;
    margin-right: 50px;
}

.disclaimer {
    font-size: 10px;
    font-weight: 800;
}

img {
    max-width: 200px;
    max-height: auto;
}

.info {
    text-align: center;
    font-size: 12px;
}

header {
    height: 2in;
}

.text {
    margin-top: 500px;
}
